h1{
  text-shadow: 2px 2px 5px black;
    color: white;
}

section.main{
  background-color: #001433;
    background-image: linear-gradient(#001433,#2e7bcf);
    color: white;
}

h3{
    text-shadow: 2px 2px 5px black;
    color: white;
}
div{
    color: white;
}
label{
    color: white;
}
